* {
  box-sizing: border-box;
  font-size: 62.5%;
  /* width: 100%; */
  margin: 0 auto;
}

label {
  position: absolute;
  background: white;
  transform: translate3d(5px, 10px, 0px);
  transition: all 0.6s ease-in-out;
  font-size: 1.5rem;
}

div.input:focus-within label {
  position: absolute;
  transform: translateX(25px);
  transition: all 0.6s ease-in-out;
  font-size: 1rem;
  background: white;
  color: indigo;
}

input[type="checkbox"] + label {
  border: none;
  background: initial;
  margin: 1rem;
  position: initial;
}
